<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
		<link rel="stylesheet" href="/static/css/users/styles.css" type="text/css">
	</head>
	<body>
		<div id="wrapper">
			<div>
				<h1>Register:</h1>
				<form action="/users/create" method="post">
					First Name: <input type="text" name="first_name">
					Last Name: <input type="text" name="last_name">
					Alias: <input type="text" name="alias">
					E-mail Address: <input type="text" name="email">
					Password: <input type="password" name="password">
					Confirm Password: <input type="password" name="password_validation">
					Date of Birth (MMDDYYYY): <input type="text" name="birthdate">
				<input type="submit" value="Register">
				</form>
			</div>
			<div>
				<h1>Log In:</h1>
				<form action="/login" method="post">
					E-mail Address: <input type="text" name="email">
					Password: <input type="password" name="password">
				<input type="submit" value="Log In">
				</form>
			</div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
	</body>
</html>
