<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
    <script>
      $(document).ready(function(){
      $(document).mousemove(function(e){
         TweenLite.to($('body'),
            .5,
            { css:
                {
                    backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
                }
            });
      });
      });
    </script>
    <style>
      body{
        background: url(http://mymaplist.com/img/parallax/back.png);
      	background-color: #444;
        background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);
      }
      #container{
        margin-left: 20%;
      }




    </style>
  </head>
  <body>

    <div id="signupbox" style="display:block; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login_page" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>
                        <div class="panel-body" >
                            <form action="/signup" method="post" id="signupform" class="form-horizontal" role="form">

                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>



                                <div class="form-group">
                                    <label for="alias" class="col-md-3 control-label">Alias</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="alias" placeholder="Alias">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="first_name" class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last_name" class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password_validation" class="col-md-3 control-label">Confirm Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="password_validation" placeholder="Password">
                                    </div>
                                </div>

                                <div class="form-group" >
                                    <label for="birthdate" class="col-md-3 control-label">Birthdate (MMDDYYYY)</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="birthdate" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <input id="btn-signup" type="submit" class="btn btn-info" value="Submit"><i class="icon-hand-right"></i>
                                        <span style="margin-left:8px;"></span>
                                    </div>
                                </div>





                            </form>
                            <div>
                            {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                  <li>{{ message }}</li>
                                {% endfor %}
                                </ul>
                              {% endif %}
                            {% endwith %}
                          </div>
                         </div>
                    </div>




         </div>
  </body>
  </html>
